<template>
    <div class="card">
        <div class="card-content">
            <div class="file is-boxed">
                <label class="file-label">
                    <input ref="fileInput" @change="uploadFile" type="file" class="file-input" :class="{'is-loading': isSubmitting}" :disabled="isSubmitting">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Pilih file...
                        </span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
import { uploadImage } from "../api/image";

export default {
  data() {
    return {
      file: null,
      isSubmitting: false
    };
  },
  methods: {
    uploadFile(e) {
      uploadImage(e.target.files[0])
        .then(resp => {
          this.$emit("file-uploaded", resp.data);
        })
        .catch(e => console.log(e));
    }
  }
};
</script>

