<template>
    <div class="buttons has-addons">
        <span class="button" v-for="s in status" @click="$emit('filter-selected', s)" :class="{'is-success is-selected': s == value}" :key="s">{{ s | capitalize }}</span>
    </div>
</template>

<script>
export default {
  props: ["status", "value"]
};
</script>

