<template>
    <form @submit.prevent="submitForm">

        <div class="field">
            <label class="label">Judul</label>
            <div class="control">
                <input type="text" v-model="title" class="input" placeholder="Judul..." required>
            </div>
        </div>

        <div class="field">
            <label class="label">Deskripsi</label>
            <div class="control">
                <textarea class="textarea" v-model="body" placeholder="Deskripsi..." required></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label">Gambar</label>
            <div class="control">
                <ImageField :image="image" @image-uploaded="v => image = v.url"></ImageField>
            </div>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" v-model="published"> Publish ?
            </label>
        </div>

        <div class="field has-addons" v-if="published">
            <div class="control">
                <span class="button is-static">Waktu Publikasi</span>
            </div>
            <div class="control">
                <input type="date" v-model="publishDate" class="input" required>
            </div>
            <div class="control">
                <TimePicker v-model="publishTime"></TimePicker>
            </div>
            <div class="control">
                <button @click="publishNow" type="button" class="button is-info">
                    Publish Sekarang
                </button>
            </div>
        </div>

        <map-field @position-changed="handlePosition" :lat="location.lat || -6.32639" :lon="location.lon || 108.32"></map-field>

        <div class="field is-grouped">
            <div class="control">
                <button @click="resetData" type="button" class="button">Cancel</button>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary" :class="submitState">
                    Submit
                </button>
            </div>
        </div>

    </form>
</template>

<script>
import TimePicker from "vue2-timepicker";
import ImageField from "./ImageField";
import MapField from "./MapField";
import { DateTime } from "luxon";

export default {
  props: ["data", "status"],
  data() {
    return {
      is24Hours:
        this.data.open_time &&
        this.data.close_time &&
        this.data.open_time == this.data.close_time,
      submitState: {
        "is-loading is-disabled": this.status == "submitting",
        "is-disabled": this.status == "submitted"
      },
      ...this.data
    };
  },
  computed: {
    publishDate: {
      get() {
        let date;
        date = DateTime.fromSQL(this.published_at);

        if (!date.isValid) {
          date = DateTime.local();
        }

        return date.toISODate();
      },
      set(newValue) {
        const { year, month, day } = DateTime.fromISO(newValue);
        let date;
        date = DateTime.fromSQL(this.published_at);

        if (!date.isValid) {
          date = DateTime.local();
        }

        this.published_at = date
          .set({ year, month, day })
          .toFormat("yyyy-LL-dd HH:mm:ss");
      }
    },
    publishTime: {
      get() {
        let date;
        date = DateTime.fromSQL(this.published_at);

        if (!date.isValid) {
          date = DateTime.local();
        }

        return {
          HH: date.toFormat("HH"),
          mm: date.toFormat("mm")
        };
      },
      set(newValue) {
        let date;
        date = DateTime.fromSQL(this.published_at);

        if (!date.isValid) {
          date = DateTime.local();
        }

        this.published_at = date
          .set({ hour: newValue.HH, minute: newValue.mm })
          .toFormat("yyyy-LL-dd HH:mm:ss");
      }
    }
  },
  methods: {
    publishNow() {
      this.published_at = DateTime.local().toFormat("yyyy-LL-dd HH:mm:ss");
    },
    resetData() {
      Object.assign(this.$data, this.$props);
    },
    submitForm() {
      const data = {
        title: this.title,
        body: this.body,
        image: this.image,
        published: this.published,
        address: this.address,
        lat: this.location.lat,
        lon: this.location.lon
      };

      if (this.published) {
        Object.assign(data, { published_at: this.published_at });
      }

      this.$emit("submit-form", data);
    },
    handlePosition(v) {
      this.location.lat = v.lat;
      this.location.lon = v.lon;
    }
  },
  components: {
    TimePicker,
    ImageField,
    MapField
  }
};
</script>

