<template>
    <form @submit.prevent="submitForm">

        <div class="field">
            <label class="label">Nama</label>
            <div class="control">
                <input type="text" v-model="name" class="input" placeholder="Nama..." required>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input type="email" v-model="email" class="input" :class="{'is-disabled': id != null}" placeholder="email..." required>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input type="password" v-model="password" class="input" placeholder="password...">
            </div>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" v-model="is_active"> Active ?
            </label>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button @click="resetData" type="button" class="button">Cancel</button>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary" :class="submitState">
                    Submit
                </button>
            </div>
        </div>

    </form>
</template>

<script>
export default {
  props: ["data", "status"],
  data() {
    return {
      password: "",
      submitState: {
        "is-loading is-disabled": this.status == "submitting",
        "is-disabled": this.status == "submitted"
      },
      ...this.data
    };
  },
  computed: {},
  methods: {
    resetData() {
      Object.assign(this.$data, this.$props);
    },
    submitForm() {
      const data = {
        name: this.name,
        password: this.password,
        is_active: this.is_active
      };

      if (this.id == null) {
        data["email"] = this.email;
      }

      this.$emit("submit-form", data);
    }
  },
  components: {}
};
</script>

