<template>
    <div>
        <div class="file" v-if="uploadProgress == 0">
            <label class="file-label">
                <input class="file-input" @change="uploadFile" type="file">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
        <figure class="image" v-else-if="uploadProgress == 100">
            <img :src="file">
        </figure>
        <progress v-else class="progress is-primary" :value="uploadProgress" max="100">{{ uploadProgress }}%</progress>
    </div>
</template>

<script>
import { uploadImage } from "../api/image";

export default {
  props: {
    image: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      file: this.image,
      uploadProgress: this.image ? 100 : 0
    };
  },
  methods: {
    uploadFile(e) {
      let config = {
        onUploadProgress: progressEvent =>
          (this.uploadProgress = Math.round(
            progressEvent.loaded * 100 / progressEvent.total
          ))
      };

      uploadImage(e.target.files[0], config).then(res => {
        this.file = res.data.data.url;
        this.$emit("image-uploaded", res.data.data);
      });
    }
  }
};
</script>

