<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-2by1">
        <img :src="imgSrc" :alt="imgName">
      </figure>
    </div>
    <div class="card-content">
      <input type="text" class="input" :value="imgCaption" @input="updateCaption($event.target.value)" placeholder="caption gambar..." v-if="edit">
      <p v-text="imgCaption" v-else></p>
    </div>
    <footer class="card-footer">
      <a @click="edit = true" class="card-footer-item button is-warning" v-if="!edit">Edit Caption</a>
      <a @click="$emit('delete-image', data)" class="card-footer-item button is-danger" v-if="!edit">Delete</a>      
      <template v-else>
        <a @click="resetForm" class="card-footer-item button is-danger">Cancel</a>
        <a @click="submitCaption" class="card-footer-item button is-primary">Save</a>
      </template>
    </footer>
  </div>
</template>

<script>
export default {
  props: ["imgSrc", "imgName", "imgCaption"],
  data() {
    return {
      edit: false,
      caption: ""
    };
  },
  methods: {
    resetForm() {
      this.caption = "";
      this.edit = false;
    },
    submitCaption() {
      this.$emit("submit-caption", {
        name: this.imgName,
        caption: this.caption
      });
      this.edit = false;
    },
    updateCaption(value) {
      this.caption = value;
    }
  }
};
</script>
