<template>
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <form @submit.prevent="submitForm">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" v-model="search" class="input" placeholder="Search...">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="level-right">
            <div class="level-item">
                <div class="buttons has-addons">
                    <span v-for="state in states"
                          class="button"
                          :class="{'is-success is-selected': isActive(state)}"
                          v-text="state | capitalize"
                          @click="changeState(state)"
                    ></span>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['states', 'activeState'],
        data() {
            return {
                search: ''
            }
        },
        methods: {
            submitForm() {
                this.$emit('search', this.search);
            },
            changeState(state) {
                this.$emit('changeState', state);
            },
            isActive(state) {
                return state.toLowerCase() === this.activeState.toLowerCase();
            }
        }
    }
</script>