<template>
  <div>
    <div class="field">
      <label class="label">
        Search place
      </label>
      <div class="control">
        <gmap-autocomplete class="input" @place_changed="setPlace">
        </gmap-autocomplete>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <gmap-map :center="center" :zoom="18" style="width: 100%; height: 400px; margin: 1em 0;">
          <gmap-marker ref="g-marker" :position="position" :draggable="true" @dragend="dragHandler"></gmap-marker>
        </gmap-map>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    lat: {
      default: -6.32639
    },
    lon: {
      default: 108.32
    }
  },
  data() {
    return {
      center: { lat: Number(this.lat), lng: Number(this.lon) },
      position: { lat: Number(this.lat), lng: Number(this.lon) }
    };
  },
  mounted() {
    this.$emit("position-changed", {
      lat: this.lat,
      lon: this.lon
    });
  },
  watch: {
    position(newPosition) {
      this.$emit("position-changed", {
        lat: newPosition.lat,
        lon: newPosition.lng
      });
    }
  },
  methods: {
    dragHandler(e) {
      const coordinate = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng()
      };

      this.position = coordinate;
      this.center = this.position;
    },
    setPlace(place) {
      const coordinate = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      };
      this.center = coordinate;
      this.position = coordinate;
    }
  }
};
</script>

