<template>
  <div class="modal" :class="{'is-active': isActive}">
      <div class="modal-background" @click="$emit('modal-close')"></div>
      <div class="modal-content">
          <slot></slot>
      </div>
      <button class="modal-close is-large" @click="$emit('modal-close')" aria-label="close"></button>
  </div>
</template>


<script>
export default {
  props: {
      isActive: {
          type: Boolean,
          default: () => false
      }
  }
}
</script>

