<template>
    <div class="card">
        <div class="card-image">
            <figure class="image is-2by1">
                <img :src="data.image" :alt="data.title">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6" v-text="data.title"></p>
                    <p class="subtitle is-7">
                        <span class="icon is-small">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ data.author.name }}
                    </p>
                </div>
            </div>

            <div class="content">
                {{ data.body }}
                <br>
                <br>
            </div>
        </div>
        <footer class="card-footer">
            <a :href="data.path + `/${data.id}/edit`" class="card-footer-item">Edit</a>
            <a @click="$emit('toggle-publish', data)" class="card-footer-item">
                {{ data.published ? 'Unpublish' : 'Publish' }}
            </a>
            <a @click="$emit('delete-oleholeh', data)" class="card-footer-item">Delete</a>
        </footer>
    </div>
</template>

<script>
export default {
  props: ["data"]
};
</script>

