<template>
    <nav class="pagination is-centered">
        <a :href="generateUri(currentPage-1)" class="pagination-previous" :disabled="currentPage <= 1" rel="prev">Prev</a>
        <a :href="generateUri(currentPage+1)" class="pagination-next" :disabled="currentPage >= lastPage" rel="next">Next</a>

        <ul class="pagination-list">
            <template v-for="i in lastPage">
                <li v-if="i == 1" :key="i">
                    <a :href="generateUri(i)" :class="[i == currentPage ? 'is-current' : '']" class="pagination-link" v-text="i"></a>
                </li>
                <li v-else-if="i == lastPage" :key="i">
                    <a :href="generateUri(i)" :class="[i == currentPage ? 'is-current' : '']" class="pagination-link" v-text="i"></a>
                </li>
                <li v-else-if="i == currentPage" :key="i">
                    <a :href="generateUri(i)" :class="[i == currentPage ? 'is-current' : '']" class="pagination-link" v-text="i"></a>
                </li>
                <li v-else-if="currentPage - i < 2 && currentPage - i > 0" :key="i">
                    <a :href="generateUri(i)" class="pagination-link" v-text="i"></a>
                </li>
                <li v-else-if="i - currentPage < 2 && i - currentPage > 0" :key="i">
                    <a :href="generateUri(i)" class="pagination-link" v-text="i"></a>
                </li>
                <li v-else-if="currentPage - i == 2" :key="i">
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li v-else-if="i - currentPage == 2" :key="i">
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
            </template>
        </ul>
    </nav>
</template>

<script>
import URI from "urijs";

export default {
  props: ["path", "currentPage", "lastPage", "queryParam"],
  methods: {
    generateUri(page) {
      if (this.queryParam) {
        return URI(this.path).query(Object.assign({}, this.queryParam, { page }));
      }

      return URI(this.path).query({ page });
    }
  }
};
</script>

