<template>
    <form @submit.prevent="$emit('search-query',query)">
        <div class="field has-addons">
            <div class="control">
                <input type="text" v-model="query" class="input" placeholder="Search item..." autofocus>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    Search
                </button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
  props: ["q"],
  data() {
    return {
      query: this.q
    };
  }
};
</script>

