<template>
    <div class="card">
        <div class="card-content">
            <p class="title is-5" v-text="data.name"></p>
        </div>
        <footer class="card-footer">
            <a :href="data.path + `/${data.id}/edit`" class="card-footer-item">Edit</a>
            <a @click="$emit('toggle-activate', data)" class="card-footer-item">
                {{ data.is_active ? 'Deactivate' : 'Activate' }}
            </a>
        </footer>
    </div>
</template>

<script>
export default {
  props: ["data"]
};
</script>

