<template>
    <form>
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input type="text" class="input" placeholder="Title..." required>
            </div>
        </div>

        <div class="field">

        </div>
    </form>
</template>

<script>
    export default {}
</script>